<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victo.coachmanager">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ObtenerIDs"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme" />
        <activity android:name=".SobreNosotrosActivity" />
        <activity android:name=".AlumnosActivity" />
        <activity android:name=".VerAlumnoActivity" />
        <activity android:name=".EditarAlumnoActivity" />
        <activity android:name=".AnyadirAlumnoActivity" />
        <activity android:name=".GruposActivity" />
        <activity android:name=".VerGrupoActivity" />
        <activity android:name=".EditarGrupoActivity" />
        <activity android:name=".AnyadirGrupoActivity" />
        <activity android:name=".EjerciciosActivity" />
        <activity android:name=".VerEjerciciosDeporteActivity" />
        <activity android:name=".AnyadirEjercicioActivity" />
        <activity android:name=".VerEjercicioActivity" />
        <activity android:name=".EditarEjercicioActivity" />
        <activity android:name=".OlvidarContrasenyaActivity" />
        <activity android:name=".EntrenamientosActivity" />
        <activity android:name=".AnyadirEntrenamientoActivity" />
        <activity android:name=".VerEntrenamientoActivity" />
        <activity android:name=".EditarEntrenamientoActivity" />
        <activity android:name=".AyudaActivity" />
        <activity android:name=".VerPerfilActivity" />
        <activity android:name=".EditarPerfilActivity" />
        <activity android:name=".SesionesActivity" />
        <activity android:name=".AnyadirSesionActivity" />
        <activity android:name=".VerSesionActivity"></activity>
    </application>

</manifest>